@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
:root{
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --grey1:#F5F5F5;
    --grey2:#E0E0E0;
    --grey3:#828282;
    --grey4:#333333;
    
}
body{
    font-family: 'Inter',sans-serif;
}